@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

:root {
  font-family: "Chelsea Market", cursive;

  color: #ffff;
  background-color: #226f54;
}

#dog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  height: 450px;
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  max-height: 200px;
}

#nameForm {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3em;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-next {
  background-color: #86c28e;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  margin: auto;
  padding: 30px;
  display: block;
  font-family: inherit;
}

.button-next-double {
  background-color: #86c28e;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 30px;
  display: block;
  font-family: inherit;
  padding: 40px 50px;
  font-size: 1.3em;
}

.button-next:hover,
.button-next-double:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #86c28e;
}

.button-back {
  background-color: #ffaf1f;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 40px 50px;

  display: block;
  font-family: inherit;
  position: center;
  font-size: 1.3em;
}

.button-back:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #ffaf1f;
}

#nameForm input {
  font-size: 0.5em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #86c28e;
  color: #ffaf1f;
  font-family: inherit;
  margin-bottom: 20px;
}

#nameForm button:hover {
  background-color: #86c28e;
}

#h1 {
  font-size: 3em;
  text-align: center;
  color: #ffff;
  background-color: #226f54;
  margin-top: 10%;
}

#h2 {
  font-size: 2em;
  text-align: center;
  color: #ffff;
  background-color: #226f54;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 40px; /* Can be adjusted */
  background: #86c28e; /* Slider background */
  outline: none;
  opacity: 0.7; /* Make the slider slightly transparent */
  -webkit-transition: 0.2s; /* Transition for smoother movement */
  transition: opacity 0.2s;
  border-radius: 2rem;
}

.react-slider-thumb {
  background-color: #eab9b8; /* Pink color */

  height: 40px; /* Height of the thumb */
  width: 95px; /* Width of the thumb, adjust if needed */
  border-radius: 1.5rem; /* Fully rounded edges */
  text-align: center;
  line-height: 35px; /* To vertically center the text in the thumb */
  cursor: grab;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  outline: none;
}

.react-slider-thumb:active {
  background-color: #ffb6c1; /* Lighter pink color when active */
  cursor: grabbing;
}
