@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

:root {
  font-family: "Chelsea Market", cursive;

  color: #ffff;
  background-color: #226f54;
}

#dog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  height: 450px;
}

#emballage {

  position: absolute;
  right: 0;
  width: 800px;
  height: auto;
  
}

#red{

  position: absolute;
  top: 50%;
  left: 38%;
  width: 300px;
  height: auto;
}


#dog-left {
  position: absolute;
  bottom: -50px;
  left: -40px;
  width: 300px;
  height: 300px;
  transform: rotate(40deg);
}

#dog-top-left {
  position: absolute;
  top: -50px;
  left: -40px;
  width: 300px;
  height: 300px;
  transform: rotate(140deg);
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  max-height: 200px;
}

#nameForm {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3em;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button-next {
  background-color: #86c28e;
  font-size: 1em;
  color: white;
  border: 20px;
  border-radius: 20px;
  margin: auto;
  padding: 30px;
  display: block;
  font-family: inherit;
}

.button-next-double {
  background-color: #86c28e;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 30px;
  display: block;
  font-family: inherit;
  padding: 40px 50px;
  font-size: 1.3em;
}

.button-next:hover,
.button-next-double:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #86c28e;
}

.button-back {
  background-color: #ffaf1f;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 40px 50px;

  display: block;
  font-family: inherit;
  position: center;
  font-size: 1.3em;
}

.button-back:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #ffaf1f;
}

.button-yesNo{


  background-color: #86c28e;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 40px 50px;

  display: block;
  font-family: inherit;
  position: center;
  font-size: 1.3em;
}

.button-yesNo:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #86c28e;
}

.button-yesNo.active {
  background-color: #FFF8EE ; 
  color: #226f54;
}

.button-yesNo {
  transition: background-color 0.3s ease;
}

.button-yesNo:active {
  background-color: #ffaf1f;; 
}



#nameForm input {
  font-size: 0.5em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #86c28e;
  color: #ffaf1f;
  font-family: inherit;
  margin-bottom: 20px;
}

#nameForm button:hover {
  background-color: #86c28e;
}

#h1 {
  font-size: 3em;
  text-align: center;
  color: #ffff;
  background-color: #226f54;
  margin-top: 10%;
}

#h2 {
  font-size: 2em;
  text-align: center;
  color: #ffff;
  background-color: #226f54;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.slider {
  appearance: none;

  height: 40px;
  background: #86c28e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 2rem;
  flex-grow: 1;
  margin: 0 10px;
}

.react-slider-thumb {
  background-color: #eab9b8;

  height: 40px;
  width: 95px;
  border-radius: 1.5rem;
  text-align: center;
  line-height: 35px;
  cursor: grab;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.react-slider-thumb:active {
  background-color: #ffb6c1;
  cursor: grabbing;
}

.dog-name {
  color: #ffaf1f;
}

.weight-label {
  font-size: 2em;
  color: #ffff;

  padding: 0 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
}

#summary {

  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: xx-large;

}

.gender-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.gender-selection-container button {
  font-size: 3em;
  color: #ffffff;
  background-color: #86c28e;
  border: none;
  padding: 12px 25px;
  margin: 0 5px;
  border-radius: 10px; 
  transition: all 0.3s ease;
  font-weight: bold;
  
}

.gender-selection-container button:hover {
  background-color: #ffffff;
  color: #86c28e;
}

.gender-selection-container button.selected {
  background-color: #ffffff;
  color: #86c28e;

}

