@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

:root {
  font-family: "Chelsea Market", cursive;

  color: #ffff;
  background-color: #226f54;
  --background-color: #226f54;
  --text-color: #86C28E ;
}

#dog {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 450px;
  height: 450px;
}

#emballage {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 850px;
  height: auto;
}

#red {
  position: absolute;
  top: 55%;
  left: 47%;
  width: 300px;
  height: auto;
}

#dog-left {
  position: absolute;
  bottom: -50px;
  left: -40px;
  width: 300px;
  height: 300px;
  transform: rotate(40deg);
}

@media screen and (min-width: 800px) {
  

#dog-top-left {
  position: absolute;
  top: -50px;
  left: -40px;
  width: 300px;
  height: 300px;
  transform: rotate(140deg);
}
}

#logo {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  max-height: 200px;
}

#nameForm {
  display: flex;
  align-items: center;
  justify-content: center;
  

  font-size: 3em;
}


.button-container {
  max-width: 500px;
  margin-top: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button-next {
  background-color: #86c28e;
  font-size: 20px;
  margin-left: 10px;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 40px 50px;
  display: block;
  font-family: inherit;
  position: center;
}

.button-next-double {
  background-color: #86c28e;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 30px;
  display: block;
  font-family: inherit;
  padding: 40px;
  font-size: 1.3em;
  margin-left: 10px;
}

.button-next:hover,
.button-next-double:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #86c28e;
}


.button-back {
  background-color: #ffaf1f;
  font-size: 20px;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 40px;
  display: block;
  font-family: inherit;
}

.button-skip {
  background-color: red;
  font-size: 20px;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 40px;
  display: block;
  font-family: inherit;
 margin-left: 10px;
}
.button-skip:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: red;
}

.button-back:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #ffaf1f;
}

.button-yesNo {
  background-color: #86c28e;
  font-size: 0.5em;
  color: white;
  border: 20px;
  border-radius: 20px;
  padding: 40px 50px;
  font-family: inherit;
  font-size: 1.3em;
  margin-left: 10px;
}


.button-yesNo:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #86c28e;
}

.button-yesNo.active {
  background-color: #fff8ee;
  color: #226f54;
}

.button-yesNo {
  transition: background-color 0.3s ease;
}

.button-yesNo:active {
  background-color: #ffaf1f;
}

.button-order{
  background-color: #ffaf1f;
  font-size: 0.1em;
  color: white;
  border: 15px;
  border-radius: 15px;
  padding: 20px;
  display: block;
  font-family: inherit;
  padding: 20px 20px;
  font-size: 1.3em;
  position: absolute;
  bottom: 2%;
  right: 43%;
}

.button-order:hover,
.button-order:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #86c28e;
}



#nameForm input {
  font-size: 0.5em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #86c28e;
  color: #ffaf1f;
  font-family: inherit;
  margin-bottom: 20px;
}

#nameForm button:hover {
  background-color: #86c28e;
}

#h1 {
  font-size: 3em;
  text-align: center;
  color: #ffff;
  background-color: #226f54;
  margin-top: 10%;
}

#h2 {
  font-size: 2em;
  text-align: center;
  color: #ffff;
  background-color: #226f54;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.slider {
  appearance: none;

  height: 40px;
  background: #86c28e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 2rem;
  flex-grow: 1;
  margin: 0 10px;
}

.react-slider-thumb {
  background-color: #eab9b8;

  height: 40px;
  width: 95px;
  border-radius: 1.5rem;
  text-align: center;
  line-height: 35px;
  cursor: grab;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

.react-slider-thumb:active {
  background-color: #ffb6c1;
  cursor: grabbing;
}

.dog-name {
  color: #ffaf1f;
  
}

.weight-label {
  font-size: 2em;
  color: #ffff;

  padding: 0 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ageform-button-container {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  margin-top: 15px;
  margin: 0 auto;
  justify-content: center;
}

.active-button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 0 auto;
  justify-content: center;
}


#summary {

  position: absolute;
  top: 30%;
  left: 2%;
  font-size:25px;

}

#summary-h1{

  position: absolute;
  top: 4%;
  left: 20%;
  font-size:105px;
  color: #ffaf1f;
  max-width: 1050px;
  max-height: auto;
}

#summary-h2{

  position: absolute;
  top: 17%;
  left: 19%;
  font-size:30px;
  color: #FFF8EE;
}

#circle{

  position: absolute;
  top: 3.5%;
  left: 1%;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #86C28E ;
}

.gender-selection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.gender-selection-container button {
  font-size: 3em;
  color: #ffffff;
  background-color: #86c28e;
  border: none;
  padding: 12px 25px;
  margin: 0 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.gender-selection-container button:hover {
  background-color: #ffffff;
  color: #86c28e;
}

.gender-selection-container button.selected {
  background-color: #ffffff;
  color: #86c28e;

}

.active-description {
  max-width: 150px;
  word-wrap: break-word;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  font-style: italic;
  color: #ffffff;
}
.photo-form-container {
  background-color: #226f54;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Add space between elements */
  max-width: 600px;
  margin: auto;
}

.photo-form-header {
  color: #ffaf1f;
  font-size: 3em;
}

.photo-form-instructions,
.photo-form-step {
  text-align: center;
}

.photo-form-upload-btn {
  background-color: #86c28e;
  color: #ffffff;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 20px;
  margin: 10px 0;
  cursor: pointer;
}

.photo-form-upload-btn:hover {
  background-color: #ffaf1f;
}

.photo-form-action-btns {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Spread the buttons across the container width */
}

.photo-form-action-btn {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.photo-form-action-btn.skip {
  background-color: #ff0000; /* Red for skip */
}

.photo-form-action-btn.back {
  background-color: #ffaf1f; /* Orange for back */
}

.photo-form-action-btn.next {
  background-color: #86c28e; /* Green for next */
}

.photo-form-action-btn:hover {
  filter: brightness(0.9);
}

.photo-form-action-btn.upload {
  background-color: #86c28e; /* Green for upload */
  font-size: 1.3em; /* Slightly larger font for upload */
  padding: 20px 40px; /* Larger button size for upload */
}

.photo-preview {
  position: absolute;
  right: 300px;
  top: 150px;
  margin-top: 0;
  margin-left: 20px; /* Add some space between the image and the form elements */
  max-width: 200px;
  max-height: 300px;
}

@media (max-width: 600px) {
  .photo-preview {
    position: absolute;
    right: auto;
    bottom: 0;
    top: auto; /* Override the top value */
  }
}

.file-name {
  max-width: 200px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-bubble {
  background-color: #f5f5f5b0; 
  color: #226f54; 
  padding: 10px; 
  border-radius: 5px; 
}
.recommendation-container {
  position: absolute;
  top: 60%; /* Adjust based on your layout needs */
  left: 43%; /* Center horizontally */
  transform: translateX(-50%); /* Center the container */
  width: 300px; /* Match the width of the red blob image */
  height: auto;
  z-index: 10; /* Ensure it's above other elements */
}

#red {
  width: 100%; /* Use 100% to ensure it's fully contained within its parent */
  height: auto;
}

.recommendation-text {
  position: absolute;
  
  top: 120px;
  left: 97%;
  transform: translate(-50%, -50%); /* Center the text block within the container */
  text-align: center;
  width: 100%; /* Ensure it doesn't overflow the red blob */
}

.recommendation-text p {
  margin:  0.5em 0;
  color: white; /* or any other color that fits your design */
  font-size: 1.6em; /* Adjust the font size as needed */
}

.recommendation-text p:nth-child(1), .recommendation-text p:nth-child(2) {
  font-size: 1.3em; /* Smaller text for these elements */
}

.recommendation-text p:nth-child(3) {
  font-size: 1.8em; /* Larger text for the amount */
  font-weight: bold; /* Make it bold */
  color: var(--text-color); /* Use the defined CSS variable */
}

@media only screen and (max-width: 450px) {

  

  #dog, #dog-left, #dog-top-left {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
}

#emballage, #circle, #red {
  width: 50%; /* make images responsive */
  height: auto;
  position: relative; /* or use flexbox/grid */
}

#summary {
  position: relative; /* switch from absolute to relative or other layout strategies */
  padding: 10px;
  font-size: 1em; /* adjust font size */
}

h1, h2, p, span {
  font-size: 1em; /* adjust heading and paragraph text size */
}


.button-order {
  padding: 10px;
  font-size: 0.8em; /* adjust button size for easier touch */
}

#logo {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100px; 
  height: auto;
  z-index: 1000; 
}
  :root {
      font-size: 14px;
  }


  #nameForm {
      flex-direction: column; 
      font-size: 1.5em; 
  }

  .button-container, .ageform-button-container, .active-button-container {
      flex-direction: column; 
  }

  .button-next, .button-back, .button-skip, .button-yesNo, .button-order {
      font-size: 1em; 
      padding: 20px;
      margin: 10px 0; 
  }

  .slider-container {
      flex-direction: column;
  }

  .slider {
      width: 90%; 
      margin: 10px auto; 
  }

  
}
